$color-theme-1: #040306;
$color-theme-2: #1F0857;
$color-theme-3: #4F4842;
$color-theme-4: #440DCD;
$color-theme-5: #CF4F21;
$color-theme-6: #CDCBD0;
$color-theme-7: #9658C8;
$color-theme-8: #F09C24;
